@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'iDroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #2d6a4f;
    --fonte1: 'iDroid', 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #74c69d;
}
header {
    background: rgb(185,227,206);
    background: linear-gradient(90deg, rgba(185,227,206,1) 0%, rgba(33,186,103,1) 100%, rgba(132,191,203,1) 100%);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.header h1{
font-family: 'Bebas Neue', cursive;
color: white;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466) ;
text-align: center;
}

.header h2{
font-size: large;
font-weight: lighter;
margin-top: 30px;
color: white;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466) ;
text-align: center;
}

.navbar {
    background: #2FA866
}

.navbar a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
}

.conteudo {
    background-color: white;
    width: 89%;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px; 
    padding: 10px;
}

.important {
    color: var(--cor0);
    font-weight: bold;
}

.conteudo a{
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
}

.conteudo h1{ 
    font-family: 'iDroid', 'Times New Roman', Times, serif;
    color: var(--cor0);
}
.conteudo h2{
    font-family: 'iDroid', 'Times New Roman', Times, serif;
    color: var(--cor0);
    background: rgb(185,227,206);
    background: linear-gradient(90deg, rgba(185,227,206,1) 0%, rgba(161,252,207,1) 100%, rgba(132,191,203,1) 100%);
}

.conteudo p{
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1.3em;
}

img {
    width: 100%;;
}

.bugdroid {
    display: block;
    width: 40%;
    margin: auto;
}

.video {
    background: var(--cor0);
    width: 100%;
    height: 30em;
    margin-bottom: .5em;
}

.video iframe {
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
}

.saibamais {
    background-color: #d8f3dc;
    border-radius: 10px;
    padding: 2px;
}
.saibamais h3{
    color: white;
    font-weight: bold;
    background-color: #52b788;
}

.saibamais ul{
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
}

footer {
    margin-top: 1em;
    background-color: #1b4332;
    text-align: center;
    color: white;
    font-style: italic;
}